<html>
    <head>
        <% for @style_sheet in @css %>
            <link type="text/css" rel="stylesheet" href="/<%= @style_sheet %>" />
        <% end %>
    </head>
    <body>
        <h1>BBC News</h1>
        <%= @content %>
    </body>
</html>
